
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
      @content;
  }
}

html {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;

  @include md {
    max-width: 1000px;
  }
}

body {
  display: block;
  background-color: paleturquoise;
  font-family: Segoe UI,Tahoma,sans-serif;
}


input {
  -webkit-appearance: none;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  height: 40px;
  min-width: 49px;
  padding: 8px 16px;
}

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}